---
controller_templates:
  - name: "Run workflow for the Satellite Daily Demo"
    job_type: run
    inventory: AAP Managed Inventory
    organization: "{{ my_organization }}"
    execution_environment: amazon_aws_ee
    project: aap.dailydemo.satellite
    playbook: playbooks/main-create.yml
    job_tags: create
    credentials:
      - "{{ my_vault }}"
      - "{{ my_aap_credential }}"
      - "{{ my_aws_credential }}"
      - "{{ my_aws_machine_credential }}"
      - Red Hat Customer Portal
    extra_vars:
      my_remote_ssh_pub_key: "{{ my_remote_ssh_pub_key }}"
      my_remote_vault: "{{ my_remote_vault }}"

  - name: "Delete Daily Demo Satellite"
    job_type: run
    inventory: AAP Managed Inventory
    organization: "{{ my_organization }}"
    execution_environment: amazon_aws_ee
    project: aap.dailydemo.satellite
    playbook: playbooks/main-remove.yml
    job_tags: remove
    credentials:
      - "{{ my_vault }}"
      - "{{ my_aap_credential }}"
      - "{{ my_aws_credential }}"
      - "{{ my_aws_machine_credential }}"
      - Red Hat Customer Portal
